{% extends "base.html" %}
{% block tree %}
<p id = "GFG_UP" style = 
"font-size: 15px; font-weight: bold;">
</p>
<div class="container">
<div class="row">
<div class="tree">
<form action="#" method="POST">
    <ul>
        {% for i in cv.keys() %}

            <li>
            <input  type="submit"  class="btn-lg" value={{i}} name="p">
            <ul>
            <li>
            <input  type="submit"   class="btn-lg" value={{cv[i][0]}} name="TRUE_{{i}}">
            </li>
 
            <li>
            <input  type="submit"  class="btn-lg" value={{cv[i][1]}} name="FALSE_{{i}}">
            </li> 
      
        </ul>       
            </li>
        {% endfor %}

    </ul>
</form>
</div>
</div>
</div>
{{k}}
{% endblock %}
